body {
    margin: 0;
    padding: 2em;
    background-color: black;
}

h1,
h2 {
    color: #e8e2ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* #region Header */
#mainHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 3em;
}

#mainHeader h1 {
    margin: 0;
    width: 100%;
    font-size: 2em;
    text-align: center;
    margin-left: 1em;
}

#mainHeader button {
    padding: 10px;
}

/* #endregion */

/* #region Now Showing */
.nowShowingSec {
    margin-bottom: 3em;
}

.nowShowingTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.nowShowingTitle h2 {
    margin: 0;
    font-size: 1.6em;
}

.nowShowingTitle button {
    border-radius: 15px;
    border: 2px solid #ffffffe0;
    padding: 0 10px;
    color: #ffffffe0;
    background-color: transparent;
}

.movieDisplay {
    display: flex;
    flex-direction: row;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: 0;
}

.movieDisplay::-webkit-scrollbar {
    display: none;
}

.movieDisplay article {
    margin: 0 1em;
    width: 45vw;
    text-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.movieDisplay figure {
    margin: 0;
    margin-bottom: .9em;
}

.movieDisplay img {
    width: 45vw;
    border-radius: 10px;
}

.movieDisplay h3 {
    font-size: 1.1em;
    margin: 0;
    margin-bottom: .5em;
    color: white;
}

.movieDisplay p {
    font-size: 1em;
    color: #ffffff80;
    margin: 0;
}

.movieDisplay p span {
    font-size: 1.3em;
    color: #ffc400;
    margin: 0;
}

/* #endregion */

/* #region Popular */
.popularSec {
    margin-bottom: 3em;
}

.popularTitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.popularTitle h2 {
    margin: 0;
    font-size: 1.6em;
}

.popularTitle button {
    border-radius: 15px;
    border: 2px solid #ffffffe0;
    padding: 0 10px;
    color: #ffffffe0;
    background-color: transparent;
}

.popularDisplay article {
    display: grid;
    grid-template-columns: 30vw auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.popularDisplay figure {
    margin: 0;
    padding: 0;
}

.popularDisplay img {
    width: 100%;
    border-radius: 5px;
}

.popularInfo {
    padding-left: 1em;
}

.popularInfo h3 {
    margin-top: 5px;
    margin-bottom: 8px;
    color: white;
}

.popularInfo p {
    font-size: 1em;
    color: #ffffff80;
    margin: 0;
    margin-bottom: 8px;
}

.popularInfo p span {
    font-size: 1.3em;
    color: #ffc400;
    margin: 0;
}

.popularInfo ul {
    list-style: none;
    color: #2f00ff56;
    font-size: .8em;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

.popularInfo li {
    background-color: #efefff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 5px 5px;
}

/* #endregion */