body {
    margin: 0;
}

h1,
p,
li,
figcaption {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: #0c0041;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* #region Trailer Section */
.trailerSec {
    height: 15em;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    z-index: 1;
}

.backToMain {
    color: white;
    text-decoration: none;
    margin-top: .5em;
    font-size: 2em;
    font-weight: bold;
    height: 20%;
    padding: 0 10px;
}

.seeTrailer {
    width: 50%;
    text-align: center;
    align-self: center;
    margin-top: 1em;
    margin-left: 1em;
    text-decoration: none;
}

.seeTrailer:visited {
    text-decoration: none;
}

.seeTrailer div {
    color: black;
    background-color: white;
    width: 13%;
    margin: 0 auto;
    padding: 10px;
    padding-left: 14px;
    font-size: 1.5em;
    border-radius: 50%;
}

.seeTrailer p {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: .9em;
}

#darkModeBtn {
    height: 13%;
    border: none;
    padding: 3px;
    width: 4em;
    border-radius: 2em;
    background-color: #a5a5a5;
    display: flex;
    margin-top: 1.7em;
    margin-right: 5px;
}

#darkModeBtn div {
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
}

/* #endregion */

/* #region Content */
.detailsSec {
    background-color: white;
    border-radius: 15px;
    position: relative;
    bottom: 15px;
    z-index: 2;
    padding: 1.5em;
}

/* #region Title */
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.title h1 {
    margin: 0;
    font-size: 1.4em;
    width: 75%;
}

.title button {
    font-size: 1.8em;
    background-color: transparent;
    border: none;
}

/* #endregion */

.rating {
    font-size: 1em;
    color: #00000080;
    margin-top: 0;
    margin-bottom: 1em;
}

.rating span {
    font-size: 1.3em;
    color: #ffc400;
}

.content ul {
    list-style: none;
    color: #2f00ff56;
    font-size: .8em;
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0;
    text-transform: uppercase;
}

.content li {
    background-color: #efefff;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 10px;
    margin: 5px 8px 5px 0;
}

/* #region Extra Info */
.extraInfo {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 1.8em;
}

.extraInfo p {
    font-size: 1em;
    color: #00000080;
    margin: 0;
}

.extraInfo p span {
    display: block;
    color: black;
    font-weight: bold;
    margin-top: 5px;
}

/* #endregion */

.description h2 {
    margin-top: 0;
    margin-bottom: 10px;
}

.description p {
    font-size: 1em;
    color: #00000080;
    margin: 0;
    line-height: 1.8em;
}

/* #endregion */

/* #region Cast */
.cast {
    padding: 0 1.5em;
    margin-bottom: 2em;
}

.cast article {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.cast article h2 {
    margin: 0;
}

.cast article button {
    border-radius: 15px;
    border: 2px solid #00000050;
    padding: 0 10px;
    color: #00000050;
    background-color: transparent;
}

.cast div {
    display: flex;
    overflow: auto;
    white-space: nowrap;
}

.cast div::-webkit-scrollbar {
    display: none;
}

.cast div figure {
    margin: 0;
    margin-left: 1.5em;
    width: 45vw;
    text-wrap: wrap;
    text-decoration: none;
}

.cast div figure:first-child {
    margin-left: 0;
}

.cast div img {
    width: 45vw;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.cast div figcaption {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 0;
}

/* #endregion */

/* #region Dark Mode */
body.darkMode,
body.darkMode .detailsSec,
body.darkMode #darkModeBtn div {
    background-color: black
}

body.darkMode h1,
body.darkMode .extraInfo p span,
body.darkMode figcaption {
    color: white;
}

body.darkMode h2 {
    color: #e8e2ff;
}

body.darkMode .cast button {
    border: 2px solid #ffffffe0;
    color: #ffffffe0;
}

body.darkMode .rating,
body.darkMode .extraInfo p,
body.darkMode .description p {
    color: #ffffff80;
}

body.darkMode #darkModeBtn {
    background-color: white;
    justify-content: end;
}

/* #endregion */